.container-fluid{
    background-color: #f4f6f5;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
}
.left-start, .app-card{
    top: -100vh;
    right: -100vw;
}
.navigation{
    top: -100vh;
}
.fa-bars{
    font-size: 3rem;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.navigation{
    height: 100vh;
    color: gray;
}
.content-link{
    padding: 70px 25px;
    background: #eeeeee;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}
.link{
    font-size: 4vw;
    font-family: made_evolve;
    cursor: pointer;
}
.link:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.block-close{
    font-size: 4vh;
    cursor: pointer;
}
.table{
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
