<div class="container-fluid">
  <div class="row row-navigation">
    <div class="col-sm-12 col-md-12 col-lg-12 navigation menu">
      <div class="block-close" (click)='toggleMenu()'>
        <span><i class="far fa-times-circle"></i></span>
      </div>
      <div class="content-link text-center">
        <div class="link" (click)="link('/disponibilites/0/0')">DISPONIBILITES</div>
        <div class="link" (click)="link('/photos')">PHOTOS</div>
        <div class="link" (click)="toggleMenu()">DESCRIPTION</div>
        <div class="link" (click)="link('/tarif')">TARIFS</div>
        <div class="link" (click)="link('/map')">SITUATION</div>
        <div class="link" (click)="link('/contact')">CONTACT</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2 left-start" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <div class="col-10 left-start">
      <div class="title">
        DESCRIPTION
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 left-start"></div>
    <div class="col-10 title-b left-start">
      Studio au calme 1 chambre à 50m de la plage
    </div>
  </div>
  <div class="row">
    <div class="col-2 left-start"></div>
    <div class="col-10 left-start">
      <div class="hr">_______</div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 left-start"></div>
    <div class="col-10 txt left-start">
      Studio avec 1 chambre séparée très au calme à 50m de la plage. Centre ville et super marché à 300m. Idéal pour
      couple.
    </div>
    <div class="col-2 left-start"></div>
    <div class="col-10 txt-b left-start">
      <ul>
        <li>1 chambre</li>
        <li>1 salle de bain</li>
        <li>1 séjours cuisine</li>
      </ul>
      <div class="hr-b">_______</div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 left-start"></div>
    <div class="col-3 txt-b left-start">
      <ul>
        <li>Cuisine</li>
        <li>Chauffage</li>
        <li>Fer à repasser</li>
        <li>Lave-linge</li>
        <li>Sèche-linge</li>
        <li>Eau chaude</li>
        <li>Télévision</li>
        <li>Wi-Fi</li>
      </ul>
    </div>
    <div class="col-3 txt-b left-start">
      <ul>
        <li>Four à micro-ondes</li>
        <li>Réfrigérateur</li>
        <li>Lave-vaisselle</li>
        <li>Sèche-cheveux</li>
        <li>Cintres</li>
        <li>Vaisselle et couverts</li>
        <li>Ustensiles de cuisine de base</li>
        <li>Four</li>
      </ul>
    </div>
    <div class="col-3 txt-b left-start">
      <ul>
        <li>Parking gratuit sur place</li>
        <li>Logement de plain-pied</li>
        <li>Lit pour bébé</li>
        <li>Séjours longue durée autorisés</li>
        <li>Le ménage doit être fait avant le départ</li>
        <li>Détecteur de fumée</li>
        <li>En bord de mer</li>
      </ul>
    </div>

  </div>

  <div class="info-icon">
    <i class="fas fa-chalkboard-teacher"></i>
  </div>

</div>